h1{
text-align: center;
}
.chuckIt{
    margin: 40px;
}
.hatIcon{
    margin: 30px;
}
.Jokes{
    margin: 30px;
    border: 2px solid brown;
    padding: 20px;
}
.voteContainer{
    width: 100%;
    height: 200px;
    background-color: beige;
    text-align: center;
    font-size: 40px;
}

.Jury img{
    width: 100px;
    height: 100px;
}
.Jury {
    padding: 20px;
    text-align: center;
}
.juryTitle{
    text-align: center;
}
.juryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btnLol{
    background-color: green;
}
.btnBof {
    background-color: red;
}

.container {
    height: 70px;
    width: auto;
    top: 50%;
    left: 50%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 40px;
  }
  
  .container>div {
    text-align: center;
  }
  
  .container>div:hover {
    cursor: pointer;
  }
  
  .left {
    background: green;
  }
  
  .right {
    background:red;
  }
  
  .text {
    /* position: relative;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* user-select: none; */
  }
  
  .option-title {
    color: rgba(255, 255, 255, 1);
  }
  
  .option-size {
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
  }